[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
opencv-python = "*"
ipykernel = "*"
open3d = "*"
plyfile = "*"
torch = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.10"
